.login__container {
    max-width: 396px;
    margin: 70px auto;
}

.login__title {
    margin: 0;
    padding: 0;
    margin-top: 40px;
    margin-bottom: 16px;
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.login__text {
    color: #A0A0A0;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.login__link {
    text-decoration: none;
    color: #3456F3;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: opacity 0.3s linear;
    cursor: pointer;
}

.login__link:hover{
    opacity: 0.6;
}

@media screen and (max-width:768px) {
.login__container {
        margin: 230px auto;
    }
}

@media screen and (max-width:450px) {
    .login__container {
        margin: 56px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .login__title{
        margin-top: 50px;
        margin-bottom: 56px;
    }

    .login__text{
        font-size: 12px;
    }
    .login__link{
        font-size: 12px;
    }
}